<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrh.mt.mapper.MtUserMapper">
  <resultMap id="BaseResultMap" type="com.hrh.mt.domain.MtUser">
    <!--@mbg.generated generated on Mon Sep 23 16:51:00 CST 2019.-->
    <id column="unid_user_id" jdbcType="VARCHAR" property="unidUserId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_created" jdbcType="TIMESTAMP" property="userCreated" />
    <result column="user_updated" jdbcType="TIMESTAMP" property="userUpdated" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Sep 23 16:51:00 CST 2019.-->
    unid_user_id, user_phone, user_password, user_created, user_updated, user_name
  </sql>
</mapper>